* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  margin:0;
  font-family:'arial';
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 0;
  
  
  
}

 .nav{

  justify-content: space-between;
  align-items: center;
  /* gap: 2rem; */
  /* padding: 0 1rem; */

  display: flex;
  height: 120px;
  width: 100%;
  background: rgb(86, 135, 204);
  align-self: flex-start;

}


.nav ul {
padding:0;
margin: 0;
list-style: none; 
display: flex;
gap: 1rem;


} 
.nav a {
  padding: 5px;
  margin: 2px;
  width: 10em;
  color: inherit;
}

.login {
background-image: url("/src/images/42-incorporate-farm-feature-min.jpg");
background-repeat:no-repeat;
background-position: center;
background-size: 100%;
padding: 278px;
}


/* ul {
  list-style: none;
  padding-left: 0;
}

ul {
  padding: 5px;
  margin: 2px;
  width: 21em;
  background: rgb(86, 135, 204);
} */

/* li a {
  color: grey;
}

li:hover {
  width: 10em;
  background-color: rgb(131, 165, 214);
  color: white;
}

li:hover a {
  color: white;
} */
